body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

.parent {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.box {
  height: 220px;
  width: 170px;
  border-radius: 12px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}

.box:hover {
  box-shadow: 0px 1px 5px rgb(182, 175, 175);
}

.box > img {
  height: 190px;
  border-radius: 12px;
}

.box > span {
  margin-top: 5px;
}

@media (max-width: 900px) {
  .parent {
    flex-direction: column;
    margin-right: 10px;
  }

  .box {
    width: 100%;
    flex-direction: row;
    height: 80px;
    border-color: lightgray;
    align-items: center;
  }
  .box > img {
    height: 100%;
    border-radius: 0px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .box > span {
    margin-top: 0px;
    margin-left: 20px;
    font-weight: bold;
  }
}

.top {
  background-color: #4d6bc6;
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top > svg {
  height: 30px;
  width: 30px;
  fill: white;
}

.top > span {
  padding-left: 12px;
  color: white;
}

.bottom{
    height: 300px;
    background-color: black;
    display: flex;
}
.img-section{
    flex-grow: 1;
    background-color: #122868;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.list-section{
    flex-grow: 2;
    background-color: orange;
}

body {
  background-color: bisque;
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  border: 5px solid black;
  margin: 0px auto;
}

@media (max-width: 450px) {
  body {
    background-color: green;
  }

  div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 400px;
    width: 100%;
    border: 1px solid black;
    margin: 0px auto;
  }
}

@media (min-width: 450px) and (max-width: 900px) {
  body {
    background-color: aqua;
  }
  div {
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  body {
    background-color: orange;
  }
}
