/* .css_container {
  margin: 20px;
  border: 1px solid black;
  min-height: 300px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.css_container > div {
  min-height: 100px;
  border: 2px solid rebeccapurple;
}
.heading{
    font-size: 50px;
}

@media (max-width: 1130px) {
  .css_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 950px) {
  .css_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .css_container {
    grid-template-columns: repeat(1, 1fr);
  }
} */

.carousel-item {
  height: 300px !important;
  width: 100% !important;
}
.carousel-item > img{
    height: 100% !important;
    border-radius: 10px;
}

.house_card{
    padding: 10px;
    position: relative !important;
}

.heart_icon{
    position: absolute;
    right: 30px;
    top: 15px;
    color: white;
    z-index: 2;
    font-size: 30px;
    font-weight: bold;
}