.parent {
  max-width: 1000px;
  padding: 5px;
  border: 1px solid black;
  margin: 0px auto;
  display: grid;
  /* grid-template-columns: 33.3% 33.3% 33.4%; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, minmax(50px, 100px));
  gap: 15px;
  text-align: center;
}

.parent>div {
  /* height: 40px; */
  border: 1px solid black;
  justify-content: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: aqua;
}

.two {
  grid-row-start: 2;
  grid-row-end: 4;
}

.three {
  grid-column-start: 2;
  grid-column-end: 4;
}

.six {
  grid-column-start: 1;
  grid-column-end: 4;
}

@media (max-width: 700px) {
  .parent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(100px, 200px));
  }
}

@media (max-width: 500px) {
  .parent {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, minmax(100px, 200px));
  }
}


.container {
  background-color: bisque;
  padding: 20px;
}

.heading {
  text-align: center;
  margin: 0px;
  font-size: 25px;
}

.sub_heading {
  text-align: center;
  margin: 0px;
  margin-top: 4px;
  text-decoration: underline;
  font-size: 14px;
}

.desc_container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  gap: 30px;
}

.desc_container>div {
  padding-right: 20px;
}

.footer_heading {
  text-align: center;
  margin: 0px;
  font-weight: bold;
}

.footer_button {
  height: 40px;
  max-width: 200px;
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px auto;
}

@media(max-width:900px) {
  .desc_container {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

}