* {
  /* border: 1px solid black;
  border-style: groove;
  border-radius: 10px; */
}

.img {
  max-width: 500px;
  min-width: 300px;
  height: 300px;
}
img {
  height: 100%;
  width: 100%;
}
span {
  font-weight: bold;
}

h1 {
  /* background-color: aqua; */
  /* width: 350px; */
  /* text-align: center;
  max-width: 500px;
  min-width: 300px; */
  /* center html element */
  /* margin: 12px auto;
 
}

body {
  border: 3px solid violet;
}

li {
  padding: 4px;
  margin: 4px;
}

span {
  border: none;
}

h4 {
  padding: 5px;
  text-align: center;
}

p {
  margin: 4px 12px;
  padding: 4px;
  min-height: 300px;
  max-height: 400px;
  overflow-y: scroll;
  /* height: 200px; */
}

.parent > h1 {
  border: 1px solid black;
  width: 150px;
  text-shadow: 2px 2px 2px violet;
  display: inline-block;
  margin-left: 10px;
  text-align: center;
}

/* h1, p , h4 , ol {
    margin: 0px;
} */
