/* * {
  border: 1px solid black;
} */

body {
  border: 4px solid green;
}
h1,
h4 {
  margin: 0px;
}

h1 {
  min-width: 200px;
  max-width: 400px;
  background-color: aqua;
  text-align: center;
  margin: 12px auto;
  /* margin: 12px; */
  /* margin-left: 12px;
    margin-top: 12px;
    margin-bottom: 12px; */
}
nav > p {
  margin: 0px;
  width: 50px;
  display: inline-block;
  max-width: 100px;
  min-width: 95.4px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  margin: 3px 0px;
}

nav > p:hover {
  background-color: violet;
  border-radius: 25px;
  color: white;
}

nav {
  max-width: 400px;
  min-width: 200px;
  margin: 0px auto;
  border: 1px solid violet;
  margin-top: 5px;
  border-radius: 5px;
}
.p-box {
  min-width: 200px;
  max-width: 400px;
  margin: 10px auto;
  padding: 3px;
  min-height: 100px;
  max-height: 200px;
  overflow-y: scroll;

  /* overflow: hidden; */
}
h4 {
  width: 200px;
}
img {
  height: 60px;
  width: 60px;
}

li {
  padding: 3px;
  margin-bottom: 4px;
}

/* span{
    width: 200px !important;
    height: 100px;
} */
