.parent {
  min-height: 500px;
  border: 5px solid blueviolet;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* justify-content -> for space , space-between , space-around , space-evenly */
  /* align-items */
}
h1 {
  text-align: center;
  margin: 0px;
  font-size: 20px;
  margin-top: 4px;
}

.child {
  height: 140px;
  width: 140px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;

  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

.child:hover {
  background-color: black;
  color: white;
  border-color: black;
}

i {
  font-size: 40px;
  color: white;
}
i:hover {
  color: cadetblue;
}
.child_1 {
  background-color: aquamarine;
}
.child_2 {
  background-color: blueviolet;
}
.child_3 {
  background-color: brown;
}
.child_4 {
  background-color: palegreen;
}

.flex-learn-parent {
  display: flex;
  margin-bottom: 10px;
}

.flex-learn-parent > div {
  height: 80px;
  padding: 10px;
}

.grow-1 {
  background-color: red;
  flex-grow: 1;
}
.grow-2 {
  background-color: blue;
  flex-grow: 1;
}