/* .paragraph{
   text-align: center;
   background-color: beige;
   font-size: 40px;
   border: 2px solid black;
}

#p-1{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
h1{
   text-transform: capitalize;
   text-decoration:blink;
}
.google{
   text-decoration: none;
   color: blue;
   font-size: 20px;
}
/* p{
   line-height: 3em; 
    letter-spacing: 0.5em; 
   word-spacing: 0.5em;
   text-align: justify;
} */

/* p{
   background-image: url("https://cdn1.iconfinder.com/data/icons/arrows-elements-outline/128/ic_round_hamburger_menu-512.png")   ;
   vertical-align:top;
   background-repeat: no-repeat;
   height: 500px;
   text-indent: 5em;
  
} */
p{
   text-shadow: 1px 1px 1px lightgray ;
   text-align: center;
}
