body {
  background-color: white;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

h1 {
  text-align: center;
}

.media_box {
  height: 300px;
  width: 80%;
  background-color: aqua;
  border: 3px solid black;
  margin: 0px auto;
}

.parent {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.child {
  height: 220px;
  width: 150px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.child:hover {
  box-shadow: 1px 1px 2px lightgray;
  transform: scale(1.02);
}
.child > img {
  height: 200px;
  width: 100%;
  border-radius: 5px;
}
.child > span {
  margin-top: 5px;
  font-size: 13px;
}

@media (max-width: 1000px) {
  .parent {
    flex-direction: column;
  }

  .child {
    width: 95%;
    margin: 0px auto;
    border-color: gray;
    height: 90px;
    flex-direction: row;
    padding: 0px;
  }

  .child > img {
    height: 100%;
    width: 90px;
  }

  .child > span {
    margin-top: 0px;
    padding-left: 12px;
  }
  .child:hover {
    box-shadow: 1px 1px 2px lightgray;
    transform: scale(1.02);
    transition: 0.5s;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(31, 28, 28) !important;
    color: white !important;
  }
}

/* xxl */
/* @media (max-width: 1400px) {
  body {
    background-color: orange;
  }
  .media_box {
    width: 85%;
    background-color: beige;
  }
} */

/* xl */
/* @media (max-width: 1200px) {
  body {
    background-color: black;
  }
  .media_box {
    width: 90%;
    background-color: red;
  }
} */

/* lg */
/* @media (max-width: 992px) {
  body {
    background-color: green;
  }
} */

/* @media (max-width: 500px) {
  .media_box {
    width: 100%;
    background-color: red;
  }

  h1 {
    text-align: center;
  }
} */
